@import '@/src/design/theme/light.css'; /* This line will be the same in CSS */
/* CSS equivalent of the provided Less code */
@import '@/src/design/public.css';
.ant-message-custom-content {
  display: flex;
  align-items: center;
}

.ant-message-custom-content  .anticon {
  top: 0 !important;
}

.ant-layout {
    height: 100%;
    overflow: hidden;
  }
  
  .ant-section {
    height: calc(100% - 58px);
    overflow-x: hidden;
  }
  
  .ant-layout-content {
    position: relative !important;
    height: 100%;
    min-height: 600px;
    padding: 12px 20px;
    overflow-y: scroll;
  }
  
  .ant-layout-content .card {
    position: relative;
    height: 100%;
    padding: 20px;
    overflow-x: hidden;
    color: var(--text-color); /* Use the text-color variable */
    background-color: var(--card-bg) !important; /* Use the card-bg variable */
    border: 1px solid var(--border-color-base); /* Use the border-color-base variable */
    border-radius: 6px;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.03), 0 1px 6px -1px rgba(0, 0, 0, 0.02),
      0 2px 4px 0 rgba(0, 0, 0, 0.02);
  }

  

